#progresso
{
    height: 25px;
    width: 100%;
    text-align: center;
    border: 1px solid #adadad;
    overflow: hidden;
    background-size: 0% 100%; 
    background: linear-gradient(to right, rgba(0, 128, 0, 0.60) , rgba(0, 128, 0, 0.60));
    background-size: var(--progress, 0%) 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
}
