form
{
    width: 40vw;
}

.img
{
    text-align: center;
}

img
{
    width: 30%;
}

#exp
{
    margin: 1em 0;  
    line-height: 1.6; 
    text-align: center; 
    font-size: 1rem;
}

#question
{
    width: 99%;
    height: 30px;
    font-size: 1.2rem;
    padding-left: 5px;
}

.resp
{
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.resp:hover, .radio:hover
{
    cursor: pointer;
}

.resp-p
{
    margin-top: 3px;
    padding-left: 5px;
}

.radio
{
    accent-color: green;
}

.resp:has(.radio:checked)
{
    background-color: rgba(0, 128, 0, 0.15);
    border: solid 1px green;
}

.resp-clicavel:active {
    background-color: lightblue;
}